doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        link(rel='stylesheet' href='styles/main.min.css')
        meta(name="viewport" content="widht=device-width")
        link(rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
        title Business

    body
        i.fa.fa-book(aria-hidden="true")
        h1 Главная страница
        p Шла собака по шоссе